* {box-sizing: border-box;}

html,
body {
	background-image: url('../images/background-image.png');
	background-repeat: none;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}



.jumbotron {
	text-align: center;
	background-color: rgba(0, 0, 0, .9);
	margin-top: 100px;
	color: rgba(255, 255, 255, 1);
}

.jumbotron:after {
	content: "";
	display: block;
	clear: both;
}

.jumbotron h1 {font-size: 600%;}

.btnCategories {
	display: none;
	margin-right: 5px;
}

.math-categories  {
	padding: 0;
}

.categoryDifficulty {
	padding: 0;
	display: none;
	height: 120px;
	color: #000;
	cursor: pointer;
	transition: opacity 0.2s;
	margin: 35px 0;
}

.categoryDifficulty:hover {opacity: .9;}

.panel {height: 100%}

#backBtn {
	display: none;
	clear: both;
	content: "";
}

#comingSoonText {
	text-align: right;
	font-size: 80%;
	margin-top: 40px;
	margin-right: 180px;
}








.question-body {
	display: block;
}









